body {
    font-family: Sans-serif;
}
img {
    margin: 1em;
    padding: .5em;
    border: thin solid grey;
    background: white;
    box-shadow: 2px 2px 5px white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid silver;
    padding: .5em;
}
nav ul {
    padding: 0; margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: grey;
    transition: all .3s;
}
nav a:hover {
    color: black;
    font-weight: bold;
    transform: rotate(9deg);
}
nav li {
    padding: 0 3em;
    margin: .5em;
    background: grey;
    border-radius: .3em;
    font-variant: small-caps;
}
nav li a {
    color: white;
}
main {
    padding: 1em;
}
input, select {
    padding: .5em;
    font-size: 1em;
    border: thin solid silver;
}
input:focus, select:focus {
    background: #ffe;
    box-shadow: 0 0 7px 2px silver;
}
i.far, i.fas, button {
    box-sizing: border-box;
    color: white;
    background-color: silver;
    font-weight: bold;
    display: inline-block;
    padding: .75em;
    margin: 0 .6em;
    border: none;
    border-radius: .3em;
    transition: all .2s;
}
i.far:hover, i.fas:hover, button:hover {
    transform: translateX(.1em);
    background: linear-gradient(135deg, silver, grey 50%, #555 51%);
    box-shadow: 0 0 7px 2px grey;
}
table {
    box-shadow: 3px 3px 7px 2px silver;
}
th {
    background: grey;
    color: white;
    text-align: center;
    padding: 1em;
    border-right: thin solid silver;
}
td {
    border: thin solid #ddd;
    border-top-color: white;
    border-left-color: white;
    padding: .5em .8em;
    text-align: right;
}
tr:last-child td {
    border-bottom: 0;
}
td:last-child {
    border-right: 0;
}
td:hover {
    background: #eee;
}
form {
    width: 25em;
    display: flex;
    flex-direction: column;
}
form > * {
    margin-top: .7em;
}
.message {
    color: white;
    padding: 1em;
}
.message.success {
    background-color: green;
}
.message.failure {
    background-color: red;
}