body {
    font-family: Sans-serif;
}
nav ul {
    padding: 0; margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li {
    padding: 0;
    margin: .5em;
    background: silver;
    border-radius: .3em;
    font-variant: small-caps;
}
nav a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all .4s;
}
nav a:hover {
    color: black;
    font-weight: bold;
    transform: scale(1.1);
}