body {
    font-family: Sans-serif;
    background: silver;
}
img {
    margin: 1em;
    padding: .5em;
    border: thin solid grey;
    background: white;
    box-shadow: 2px 2px 5px white;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    padding: 0; margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li {
    padding: 0 3em;
    margin: .5em;
    background: grey;
    border-radius: .3em;
    font-variant: small-caps;
}
nav a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: all .3s;
}
nav a:hover {
    color: black;
    font-weight: bold;
    transform: rotate(9deg);
}
.permission {
    padding: 1em;
    font-weight: bold;
}
.green {
    background: green;
    color: white;
}
.red {
    color: red;
    text-decoration: line-through;
}